<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Pacientes</title>
</head>
<body>
    <h1>Pacientes</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Obra Social</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.nombre}"></td>
            <td th:text="${patient.apellido}"></td>
            <td th:text="${patient.dni}"></td>
            <td th:text="${patient.obraSocial}"></td>
        </tr>
    </table>
</body>
</html>
